.reload-button,
.close-add-button {
	margin-left: 20px;
}

.pagination {
	position: relative;
	justify-content: center;
	margin-top: 20px;
}

.table-statistics {
	font-size: 12px;
	display: flex;
	align-items: center;
	position: absolute;
	right: 24px;
	top: 50%;
	transform: translateY(-50%);
}

.action-btns {
	position: relative;
	padding-right: 8px;

	a {
		font-size: 12px;
	}
}

.not-found-data-text {
	text-align: center;
	margin-top: 20px;
}
