.text-uppercase {
	text-transform: uppercase !important;
}

span.star-input-required {
	color: orangered;
}

.text-pink {
	color: rgb(255, 35, 152) !important;
}

.form-control-label {
	margin-left: 0;
}

.avatar.avatar-sm.rounded-circle {
	margin-left: 8px;
}

//? ELEMENT UI PLUSE
.el-dialog {
	border-radius: 1rem !important;
}

.el-overlay {
	z-index: 9999 !important;
}

.el-popper {
	z-index: 9000 !important;
}

.el-message {
	z-index: 10000 !important;
}

.el-checkbox {
	margin-bottom: 0;
	margin-left: 0;

	&:hover {
		color: #409eff;
	}
}

.el-drawer__header {
	margin-bottom: 8px !important;
}

// controller

.controller-title {
	display: flex;
	align-items: center;
}

i.controller-icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right: 6px;

	&.red {
		background-color: rgb(255, 0, 51);
	}

	&.yellow {
		background-color: rgb(255, 179, 0);
	}

	&.green {
		background-color: rgb(4, 200, 4);
	}
}
